langchain-community==0.3.3
duckduckgo_search==8.0.1
pymilvus==2.5.7
bs4==0.0.2
beautifulsoup4>=4.12.2
html2text>=2020.1.16
lxml>=4.9.3
openai==1.76.0
tiktoken==0.9.0
rank-bm25==0.2.2
pre_commit==4.0.1
flake8==7.1.1

environs~=14.1.1
langchain~=0.3.24
langchain-core~=0.3.56
requests~=2.32.3
Unidecode~=1.4.0
langchain-text-splitters~=0.3.8
trafilatura~=2.0.0
lxml-html-clean~=0.4.2

typing_extensions~=4.13.2
langgraph~=0.4.2
pymongo~=4.12.1